NEXT_PUBLIC_API_URL=https://api.scrappy.io
AUTH0_SECRET=
AUTH0_BASE_URL=http://localhost:3000
AUTH0_ISSUER_BASE_URL=https://your-tenant.us.auth0.com
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=https://api.scrappy.io
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_
ADMIN_API_KEY=
